



.image
{
	border-radius: 60px;
	width: 120px;
	height: 120px;

}


.button_icon
{
	color:#fff;
}


.button_file
{

	
    padding: 5px 10px;
    background: #f55d3e;
    color:#fff;
    border:0px solid #fff;
}
}